* {
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

.body-container {
	background-image: url("https://wallpaperscraft.com/image/figure_colorful_bright_background_blur_46937_3840x2160.jpg");
}